@using System.Security.Claims
@{
    var _userName = User.Identity.Name;
    var _userID = ((ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == "UserId")
                .Select(c => c.Value).FirstOrDefault();
    var _userFName = ((ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == "UserFirstName")
                .Select(c => c.Value).FirstOrDefault();
    var _userLName = ((ClaimsIdentity)User.Identity).Claims
    .Where(c => c.Type == "UserLastName")
    .Select(c => c.Value).FirstOrDefault();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://www.logicode.co.th/wp-content/themes/logicode/favicon.ico?v=2" rel="icon">

    <title>Logicode - PM AND MA</title>

    <!-- Bootstrap -->
    <link href="~/Master/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Master/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Master/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Master/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Master/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Master/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Master/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Master/build/css/custom.min.css" rel="stylesheet">

    <!-- sweetalert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- calendar -->
    <link href="~/Master/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/Master/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">

    <!-- pnotify -->
    <link href="~/Master/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="~/Master/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="~/Master/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

    <!-- Form -->
    <link href="~/Master/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <link href="~/Master/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="~/Master/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="~/Master/vendors/starrr/dist/starrr.css" rel="stylesheet">

    <!-- datatable -->
    <link href="~/Master/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Master/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Master/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Master/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Master/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>



</head>

<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0">
                        <a class="site_title" href="/PMandMA/Home">
                            <img src="https://www.logicode.co.th/wp-content/themes/logicode/images/Logicode-Logo.png" alt="Logicode" class="lazyloaded" data-ll-status="loaded" style="width: 210px">
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/user-icon.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@_userFName @_userLName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-newspaper-o"></i> Job Service <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Job" asp-action="Index">Job Service List</a></li>
                                        <li><a asp-controller="Job" asp-action="Create">Create Job Service</a></li>
                                        <li><a asp-controller="Job" asp-action="SearchBySN">Search By Serial Number</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-male"></i> Customer <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Customer" asp-action="Index">Customer List</a></li>
                                        <li><a asp-controller="Customer" asp-action="Create">Create Customer</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-rocket"></i> Product<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Product" asp-action="Index">Product List</a></li>
                                        <li><a asp-controller="Product" asp-action="Create">Create Product</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-controller="Calendar" asp-action="Index"><i class="fa fa-calendar"></i> Calendar<span></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav noprint">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class="navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/user-icon.jpg" alt="">@_userFName @_userLName
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Profile" asp-route-id="@_userID"> Profile</a>
                                    @*<a class="dropdown-item" href="javascript:;"> Settings</a>*@
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <strong>Copyright © 2022 <a href="https://www.logicode.co.th/" target="_blank">LOGICODE (T) LTD</a>.</strong> All rights reserved.
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Master/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Master/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/Master/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Master/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Master/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Master/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Master/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Master/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Master/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Master/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Master/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Master/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Master/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Master/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Master/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Master/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Master/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Master/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Master/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Master/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Master/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Master/vendors/moment/min/moment.min.js"></script>
    <script src="~/Master/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Master/build/js/custom.min.js"></script>

    <!-- FullCalendar -->
    <script src="~/Master/vendors/fullcalendar/dist/fullcalendar.min.js"></script>

    <!-- pnotify -->
    <script src="~/Master/vendors/pnotify/dist/pnotify.js"></script>
    <script src="~/Master/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/Master/vendors/pnotify/dist/pnotify.nonblock.js"></script>

    <!-- Form -->
    <script src="~/Master/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Master/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Master/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Master/vendors/google-code-prettify/src/prettify.js"></script>
    <script src="~/Master/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <script src="~/Master/vendors/switchery/dist/switchery.min.js"></script>
    <script src="~/Master/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Master/vendors/parsleyjs/dist/parsley.min.js"></script>
    <script src="~/Master/vendors/autosize/dist/autosize.min.js"></script>
    <script src="~/Master/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <script src="~/Master/vendors/starrr/dist/starrr.js"></script>

    <!-- datatables -->
    <script src="~/Master/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Master/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Master/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Master/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Master/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Master/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Master/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Master/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Master/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Master/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Master/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Master/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Master/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Master/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Master/vendors/pdfmake/build/vfs_fonts.js"></script>

    <script>
        $(document).ready(function () {

            var _message = "@TempData["Message"]";

            if (_message.length > 0 && _message != "" && _message != undefined) {
                Swal.fire({
                    //position: 'top-end',
                    icon: 'success',
                    title: _message,
                    showConfirmButton: false,
                    timer: 2000
                })

                "@TempData.Remove("Message")";
            }

            var _errormessage = "@TempData["ErrorMessage"]";
            if (_errormessage.length > 0 && _errormessage != "" && _errormessage != undefined) {

                Swal.fire({
                    //position: 'top-end',
                    icon: 'error',
                    title: _errormessage,
                    showConfirmButton: false,
                    timer: 2000
                })

                "@TempData.Remove("ErrorMessage")";
            }

            var _notimessage = "@TempData["NotiMessage"]";

            if (_notimessage.length > 0 && _notimessage != "" && _notimessage != undefined) {

                Swal.fire({
                    //position: 'top-end',
                    icon: 'info',
                    title: _notimessage,
                    showConfirmButton: false,
                    timer: 2000
                })

                "@TempData.Remove("NotiMessage")";
            }

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
