@model IEnumerable<CustomerData>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Customer List
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Customer Number</th>
                            <th class="text-center">Customer Name</th>
                            <th class="text-center">Address</th>
                            <th class="text-center">Contact</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Phone Number</th>
                            <th class="text-center">Created At</th>
                            <th class="text-center">Created By</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td class="text-center text-muted">@customer.id</td>
                                <td class="text-center text-muted"><a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.id">@customer.customer_name</a></td>
                                <td class="text-muted">@customer.address</td>
                                <td class="text-center text-muted">@customer.contact</td>
                                <td class="text-center text-muted">@customer.email</td>
                                <td class="text-center">@customer.phone_number</td>
                                <td class="text-center">
                                    <div class="badge badge-warning">@customer.created_at</div>
                                </td>
                                <td class="text-center">
                                    <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">@customer.created_by</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-block text-center card-footer">
                <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"></i></button>
                <button class="btn-wide btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>