@using LGC.Support;
@model dynamic

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create Job Service</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>


                @*                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" asp-controller="Job" asp-action="Create">
                    <div class="item form-group">
                    <label for="@Model.job.created_at" class="col-form-label col-md-3 col-sm-3 label-align">
                    Date
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                    <input for="@Model.job.created_at" class="date-picker form-control" type="text" placeholder="@DateTime.Now.ToString("dd MMMM yyyy")" readonly="readonly">
                    </div>
                    </div>
                    <div class="item form-group">
                    <label for="@Model.job.job_number" class="col-form-label col-md-3 col-sm-3 label-align">
                    Job Service No. <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                    <input for="@Model.job.job_number" type="text" required="required" class="form-control" readonly="readonly">
                    </div>
                    </div>
                    <div class="item form-group">
                    <label for="@Model.job.service_type" class="col-form-label col-md-3 col-sm-3 label-align">
                    Select Service <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                    <select for="@Model.job.service_type" class="form-control" required="required">
                    <option value=@null>---- Select ----</option>
                    <option value="PM">PM : Preventive Maintenance</option>
                    <option value="MA">MA : Maintenance Agreement</option>
                    </select>
                    </div>
                    </div>
                    <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                    On Site Date <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                    <input id="birthday" class="date-picker form-control" placeholder="dd-mm-yyyy" type="date" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                    <script>
                    function timeFunctionLong(input) {
                    setTimeout(function() {
                    input.type = 'text';
                    }, 60000);
                    }
                    </script>
                    </div>
                    </div>
                    <div class="item form-group">
                    <label for="@Model.job.customer_po" class="col-form-label col-md-3 col-sm-3 label-align">
                    Customer PO No. <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                    <input for="@Model.job.customer_po" type="text" required="required" class="form-control">
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="@Model.job.description" class="col-form-label col-md-3 col-sm-3 label-align">
                    Description <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-9 ">
                    <textarea for="@Model.job.description" class="form-control" rows="3"></textarea>
                    </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                    <diqv class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a asp-controller="Job" asp-action="Index" class="btn btn-danger"> Cancel</a>
                    </diqv>
                    </div>
                    </form>*@



                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                        Select Service <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <select class="form-control select_page" required="required">
                            @foreach (ProductData product in Model.product)
                            {
                                <option value="@product.name">@product.name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                        Select Service <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <select class="form-control select_page" required="required">
                            @foreach (CustomerData customer in Model.customer)
                            {
                                <option value="@customer.name">@customer.name</option>
                            }
                        </select>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


@section Scripts{
<script>

        $(document).ready(function() {
        $(".select_page").select2();
    });


</script>
}

