@using LGC.Support.Models
@model JobData

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="font-weight: bold">Service No. @Model.job_number - @Model.CustomerDetails.name</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>


                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" asp-controller="Job" asp-action="Edit">
                    <div class="item form-group">
                        <label asp-for="created_at" class="col-form-label col-md-3 col-sm-3 label-align">
                            Start Date
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="created_at" class="date-picker form-control" type="text" readonly="readonly">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="job_number" class="col-form-label col-md-3 col-sm-3 label-align">
                            Job Service No. <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="job_number" type="text" class="form-control" readonly="readonly">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="CustomerDetails.name" class="col-form-label col-md-3 col-sm-3 label-align">
                            Customer Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <select asp-for="CustomerDetails.name" class="form-control select_page" disabled="disabled">
                                <option value="@Model.CustomerDetails.id">@Model.CustomerDetails.name</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="service_type" class="col-form-label col-md-3 col-sm-3 label-align">
                            Service <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <select asp-for="service_type" class="form-control select_page" disabled="disabled">
                                @Model.service_type == "PM" ?
                                <option value="PM">PM : Preventive Maintenance</option> :
                                <option value="MA">MA : Maintenance Agreement</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="expire_date" class="col-form-label col-md-3 col-sm-3 label-align">
                            Expire Date
                        </label>
                        <div class="col-md-6 col-sm-6" id="expire_date">
                            <input asp-for="expire_date" class="date-picker form-control" id="exp_date" type="text" placeholder="Please select service" readonly="readonly">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="onsite_date" class="col-form-label col-md-3 col-sm-3 label-align">
                            On Site Date <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="onsite_date" class="date-picker form-control" placeholder="dd-mm-yyyy" type="date" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                            <script>
                                function timeFunctionLong(input) {
                                setTimeout(function() {
                                input.type = 'text';
                                }, 60000);
                                }
                            </script>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="customer_po" class="col-form-label col-md-3 col-sm-3 label-align">
                            Customer PO No. <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="customer_po" type="text" required="required" class="form-control" readonly="readonly">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="price" class="col-form-label col-md-3 col-sm-3 label-align">
                            Price <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="price" type="number" class="form-control" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="description" class="col-form-label col-md-3 col-sm-3 label-align">
                            Description <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-9 ">
                            <textarea asp-for="description" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="ln_solid" id="ln_solid"></div>


                    <input type="hidden" value="0" id="total_chq">
                    <div id="item_detail">

                        @for (var i = 0; i < ViewBag.Count_Product_Unique.Count; i++)
                        {
                            <div class="item form-group" id="item_@i">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">
                                    Item <span class="required">*</span>
                                </label>
                                <div class="col-md-2 col-sm-2">
                                    <select asp-for="JodDetails[i].product_id" class="form-control select_page select_item" required="required" id="select_item_@i" style="vertical-align: text-top" disabled="disabled">
                                        <option value="@ViewBag.Count_Product_Unique[i].product_id">@ViewBag.Count_Product_Unique[i].product_name</option>
                                    </select>
                                </div>
                                <label class="col-form-label col-md-1 label-align">
                                    Qty. <span class="required">*</span>
                                </label>
                                <div class="col-md-2 col-sm-2">
                                    <select class="form-control select_page item_qty" required="required" id="serial_qty_@i" style="vertical-align: text-top" disabled="disabled">
                                        @{
                                            List<string> sn_data = new List<string>();
                                            foreach (var item in @Model.JodDetails)
                                            {
                                                if (item.product_id == @ViewBag.Count_Product_Unique[i].product_id)
                                                {
                                                    sn_data.Add(item.serial_number);
                                                }
                                            }
                                            <option value="@sn_data.Count">@sn_data.Count</option>
                                        }
                                    </select>
                                </div>
                                <button type="button" class="btn btn-warning btn-sm btn_addSN" style="height: 35px; margin-left: 15px"
                                    id=@i data-toggle="modal" data-target="exampleModalScrollable_@i">
                                    S / N
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalScrollable_@i" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalScrollable_@i" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalScrollable_@i">Add Serial Number</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body modal-body_@i">

                                            <!-- Serial Number Field -->
                                        <div id="modal-body_@i">
                                                @for (var j = 0; j < sn_data.Count; j++)
                                                {
                                                    var x = $"{@i}_{@j}";
                                                    <div id="serial_field_@x" class="item form-group serial_field_@i">
                                                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                                                            Serial No.@(j+1) <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-9 col-sm-9 ">
                                                            <input id="serial_value_@x" type="text" class="form-control modal_serial" placeholder="@sn_data[j]" readonly="readonly">
                                                        </div>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary btn_saveModal" id=@i>Save changes</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                    </div>
                    <br />

                    <div style="text-align: center" id="total_item">
                        <strong id=current_item><h2>Total quantity: @Model.JodDetails.Count items</h2></strong>
                    </div>
                    <div class="ln_solid" id="ln_solid"></div>
                    <div class="item form-group" id="button_form">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a asp-controller="Job" asp-action="Index" class="btn btn-danger"> Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="" role="main">

    <div class="container body">
        <div class="main_container">
            <div class="top_nav">
            </div>
            <div class="" role="main">
                <div class="">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2 style="font-weight: bold">Items Details</h2>

                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <div class="card-box table-responsive">
                                                <table id="myTable" class="table table-striped table-bordered" style="width: 100%;" role="grid" aria-describedby="datatable-buttons_info">
                                                    <thead>
                                                        <tr role="row" style="text-align: center; background-color: #4B5F71; color: #E9EDEF">
                                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1">No.</th>
                                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1">Product Name</th>
                                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1">Qty.</th>
                                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1">Serial Number</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @for (var i = 0; i<@Model.JodDetails.Count; i++)
                                                        {
                                                            <tr role="row" class="odd">

                                                                <td class="text-center">@(i+1)</td>
                                                                <td class="text-muted">@Model.JodDetails[i].product_name</td>
                                                                <td class="text-center">1</td>
                                                                <td class="text-center">@Model.JodDetails[i].serial_number</td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
<script>

    $(function () {
        $("#myTable").length && $("#myTable").DataTable({
            dom: "<'row'<'col-sm-6'B><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            lengthChange: false,
            buttons: [{
                extend: "copy",
                className: "btn-sm  btn-dark"
            }, {
                extend: "csv",
                className: "btn-sm btn-dark"
            }, {
                extend: 'excelHtml5',
                className: "btn-sm btn-dark"
            }],
            responsive: !0
        })
    });

    $(document).ready(function()
    {
        $(".select_page").select2({
            width: '100%'
        });
    });


    $(document).on("click", ".btn_addSN", function() {
        var item_id = $(this).attr("id");
        $(`#exampleModalScrollable_${item_id}`).modal('show');

    });

</script>
}

